# Exhibitions

In [1]:
import networkx as nx
import pandas as pd

## Loading data

In [2]:
%%time

exhibitions_df = pd.read_csv('data/out/exhibitions.csv')
exhibitions_df.fillna('', inplace=True)

CPU times: user 768 ms, sys: 184 ms, total: 952 ms
Wall time: 954 ms

In [3]:
exhibitions_df.shape

(72740, 26)

In [4]:
exhibitions_df.head()

,ID,post_type,post_title,place_t,place_r,place_c,start_y,start_m,start_d,end_y,...,xplace_t,xplace_r,xplace_c,xstart_y,xstart_m,xstart_d,xend_y,xend_m,xend_d,xgender
0,117998,exposición,"""Elizabeth Blackwell"", Carmen Oliver",Granada,Andalucía,España,2017,3,1,2017,...,España,España,España,1985,1,1,,,,Femenino
1,117998,exposición,"""Elizabeth Blackwell"", Carmen Oliver",Granada,Andalucía,España,2017,3,1,2017,...,Granada,Andalucía,España,2017,1,1,,,,NO APLICA
2,117998,exposición,"""Elizabeth Blackwell"", Carmen Oliver",Granada,Andalucía,España,2017,3,1,2017,...,Granada,Andalucía,España,,,,,,,NO APLICA
3,117998,exposición,"""Elizabeth Blackwell"", Carmen Oliver",Granada,Andalucía,España,2017,3,1,2017,...,Granada,Andalucía,España,,,,,,,NO APLICA
4,108998,exposición,"""European Masterworks. Paintings from the Coll...",Nashville,Tennessee,Estados Unidos,2001,4,8,2001,...,Francia,Francia,Francia,1840,11,14,1926,12,5,Masculino

## Processing data

In [5]:
def extract_e_info(row):
    return {
        'id': row.ID,
        'type': row.post_type,
        'title': row.post_title,
        'place_t': row.place_t,
        'place_r': row.place_r,
        'place_c': row.place_c,
        'start_y': row.start_y,
        'start_m': row.start_m,
        'start_d': row.start_d,
        'end_y': row.end_y,
        'end_m': row.end_m,
        'end_d': row.end_d,
    }

def extract_x_info(row):
    return {
        'id': row.xid,
        'type': row.xpost_type,
        'title': row.xpost_title,
        'place_t': row.xplace_t,
        'place_r': row.xplace_r,
        'place_c': row.xplace_c,
        'start_y': row.xstart_y,
        'start_m': row.xstart_m,
        'start_d': row.xstart_d,
        'end_y': row.xend_y,
        'end_m': row.xend_m,
        'end_d': row.xend_d,
        'gender': row.xgender,
    }

In [6]:
%%time

g = nx.DiGraph()
for i, row in exhibitions_df.iterrows():
    ne = extract_e_info(row)
    nx = extract_x_info(row)
    g.add_node(ne['id'], **ne)
    g.add_node(nx['id'], **nx)
    g.add_edge(ne['id'], nx['id'], label=row.xkey)

In [8]:
g.number_of_nodes()

33299

In [7]:
g.number_of_edges()

65057

In [9]:
g.number_of_selfloops()

8