# Exhibitions

In [94]:
from collections import Counter
from pprint import pprint
from string import punctuation

from nltk import word_tokenize
from nltk.corpus import stopwords
import pandas as pd

## Loading data

In [2]:
%%time

exhibitions_df = pd.read_csv('data/out/exhibitions.csv')
exhibitions_df.fillna('', inplace=True)

CPU times: user 860 ms, sys: 192 ms, total: 1.05 s
Wall time: 1.05 s

In [3]:
exhibitions_df.shape

(72740, 26)

In [4]:
exhibitions_df.head()

,ID,post_type,post_title,place_t,place_r,place_c,start_y,start_m,start_d,end_y,...,xplace_t,xplace_r,xplace_c,xstart_y,xstart_m,xstart_d,xend_y,xend_m,xend_d,xgender
0,117998,exposición,"""Elizabeth Blackwell"", Carmen Oliver",Granada,Andalucía,España,2017,3,1,2017,...,España,España,España,1985,1,1,,,,Femenino
1,117998,exposición,"""Elizabeth Blackwell"", Carmen Oliver",Granada,Andalucía,España,2017,3,1,2017,...,Granada,Andalucía,España,2017,1,1,,,,NO APLICA
2,117998,exposición,"""Elizabeth Blackwell"", Carmen Oliver",Granada,Andalucía,España,2017,3,1,2017,...,Granada,Andalucía,España,,,,,,,NO APLICA
3,117998,exposición,"""Elizabeth Blackwell"", Carmen Oliver",Granada,Andalucía,España,2017,3,1,2017,...,Granada,Andalucía,España,,,,,,,NO APLICA
4,108998,exposición,"""European Masterworks. Paintings from the Coll...",Nashville,Tennessee,Estados Unidos,2001,4,8,2001,...,Francia,Francia,Francia,1840,11,14,1926,12,5,Masculino

## Processing data

In [8]:
def add_blank(x):
    return x + ' - '

exhibitions_df.post_title = exhibitions_df.post_title.apply(add_blank)

In [9]:
exhibitions_df.head()

,ID,post_type,post_title,place_t,place_r,place_c,start_y,start_m,start_d,end_y,...,xplace_t,xplace_r,xplace_c,xstart_y,xstart_m,xstart_d,xend_y,xend_m,xend_d,xgender
0,117998,exposición,"""Elizabeth Blackwell"", Carmen Oliver -",Granada,Andalucía,España,2017,3,1,2017,...,España,España,España,1985,1,1,,,,Femenino
1,117998,exposición,"""Elizabeth Blackwell"", Carmen Oliver -",Granada,Andalucía,España,2017,3,1,2017,...,Granada,Andalucía,España,2017,1,1,,,,NO APLICA
2,117998,exposición,"""Elizabeth Blackwell"", Carmen Oliver -",Granada,Andalucía,España,2017,3,1,2017,...,Granada,Andalucía,España,,,,,,,NO APLICA
3,117998,exposición,"""Elizabeth Blackwell"", Carmen Oliver -",Granada,Andalucía,España,2017,3,1,2017,...,Granada,Andalucía,España,,,,,,,NO APLICA
4,108998,exposición,"""European Masterworks. Paintings from the Coll...",Nashville,Tennessee,Estados Unidos,2001,4,8,2001,...,Francia,Francia,Francia,1840,11,14,1926,12,5,Masculino

In [48]:
stop = stopwords.words('english') + stopwords.words('spanish') + list(punctuation)

def clean(s):
    r = s.lower().strip()
    rs = [w for w in word_tokenize(r) if w not in stop]
    r = ' '.join(rs)
    for x in list("'`“”‘’¡¿…–"):
        r = r.replace(x, '')
    r = ' '.join(r.split())
    return r

### General histogram

In [49]:
all_text = exhibitions_df.drop_duplicates('ID').post_title.sum()

In [52]:
all_text[:100]

'"Elizabeth Blackwell", Carmen Oliver - "European Masterworks. Paintings from the Collection of the A'

In [50]:
cleaned_all_text = clean(all_text)

In [53]:
cleaned_all_text[:100]

'elizabeth blackwell carmen oliver european masterworks paintings collection art gallery ontario face'

In [54]:
general_counter = Counter(cleaned_all_text.split())

In [56]:
general_counter.most_common(20)

[('picasso', 687),
 ('exposición', 464),
 ('arte', 411),
 ('colección', 330),
 ('pintura', 275),
 ('museo', 165),
 ('título', 165),
 ('facticio', 159),
 ('art', 134),
 ('años', 133),
 ('fotografía', 129),
 ('obra', 122),
 ('josé', 111),
 ('obras', 81),
 ('luz', 77),
 ('málaga', 76),
 ('miradas', 74),
 ('vida', 74),
 ('paisajes', 72),
 ('artes', 72)]

### Histogram by city

In [65]:
sp_exhibitions = exhibitions_df[exhibitions_df.place_c == 'España'].drop_duplicates('ID')

In [102]:
sp_exhibitions.place_t.value_counts()[:10]

Málaga       1277
Madrid       1109
Córdoba       904
Sevilla       432
Barcelona     409
Valencia      359
Huelva        320
Bilbao        195
Almería       168
Granada       157
Name: place_t, dtype: int64

In [104]:
top_sp_cities = [t for t, f in sp_exhibitions.place_t.value_counts()[:10].iteritems()]

In [105]:
top_sp_cities

['Málaga',
 'Madrid',
 'Córdoba',
 'Sevilla',
 'Barcelona',
 'Valencia',
 'Huelva',
 'Bilbao',
 'Almería',
 'Granada']

In [85]:
top_sp_cities_exhibitions = sp_exhibitions[sp_exhibitions.place_t.isin(top_sp_cities)]

In [106]:
text_by_city_sr = top_sp_cities_exhibitions.groupby('place_t').post_title.sum()

In [109]:
for city in top_sp_cities:
    print(city)
    print('-' * 80)
    text = text_by_city_sr[city]
    cleaned_text = clean(text)
    counter = Counter(cleaned_text.split())
    pprint(counter.most_common(20))
    print('=' * 80)
    print()

Málaga
--------------------------------------------------------------------------------
[('picasso', 104),
 ('exposición', 47),
 ('málaga', 44),
 ('arte', 36),
 ('colección', 34),
 ('pintura', 29),
 ('obra', 23),
 ('años', 18),
 ('retratos', 13),
 ('obras', 12),
 ('certamen', 12),
 ('fundación', 11),
 ('ruiz', 11),
 ('fotografía', 11),
 ('fotografías', 11),
 ('ii', 10),
 ('cine', 10),
 ('siglo', 9),
 ('mundo', 9),
 ('artes', 9)]
================================================================================

Madrid
--------------------------------------------------------------------------------
[('arte', 51),
 ('picasso', 31),
 ('exposición', 30),
 ('museo', 23),
 ('colección', 21),
 ('españa', 20),
 ('prado', 19),
 ('miradas', 19),
 ('siglo', 18),
 ('juan', 17),
 ('colecciones', 16),
 ('mundo', 16),
 ('diseño', 15),
 ('obras', 15),
 ('art', 13),
 ('años', 13),
 ('pintura', 13),
 ('madrid', 13),
 ('retrato', 12),
 ('pinturas', 12)]
================================================================================

Córdoba
--------------------------------------------------------------------------------
[('exposición', 172),
 ('título', 149),
 ('facticio', 148),
 ('pintura', 108),
 ('arte', 54),
 ('córdoba', 50),
 ('4', 33),
 ('nº', 32),
 ('josé', 23),
 ('artes', 22),
 ('antonio', 20),
 ('internacional', 18),
 ('maría', 18),
 ('pinturas', 16),
 ('manuel', 13),
 ('ciudad', 13),
 ('paisajes', 13),
 ('miradas', 13),
 ('plásticas', 12),
 ('museo', 12)]
================================================================================

Sevilla
--------------------------------------------------------------------------------
[('exposición', 18),
 ('arte', 17),
 ('otoño', 14),
 ('colección', 13),
 ('sevilla', 11),
 ('murillo', 9),
 ('josé', 8),
 ('museo', 8),
 ('obra', 7),
 ('pintura', 7),
 ('color', 7),
 ('artes', 6),
 ('imágenes', 6),
 ('contemporáneo', 6),
 ('mirada', 5),
 ('maría', 5),
 ('años', 5),
 ('vida', 5),
 ('retrato', 5),
 ('aire', 5)]
================================================================================

Barcelona
--------------------------------------------------------------------------------
[('picasso', 50),
 ('colección', 25),
 ('barcelona', 22),
 ('años', 18),
 ('macba', 16),
 ('arte', 15),
 ('museo', 12),
 ('30', 9),
 ('50', 7),
 ('obras', 7),
 ('1957-2011', 6),
 ('episodios', 6),
 ('críticos', 6),
 ('fotografía', 6),
 ('museu', 6),
 ('antoni', 5),
 ('collage', 5),
 ('modernidad', 5),
 ('moderno', 5),
 ('paisajes', 5)]
================================================================================

Valencia
--------------------------------------------------------------------------------
[('colección', 34),
 ('ivam', 26),
 ('arte', 24),
 ('valencia', 16),
 ('josé', 12),
 ('picasso', 12),
 ('pinazo', 9),
 ('pintura', 8),
 ('exposición', 8),
 ('artes', 7),
 ('años', 7),
 ('obra', 7),
 ('ignacio', 7),
 ('julio', 6),
 ('bellas', 6),
 ('museo', 6),
 ('círculo', 5),
 ('vanguardias', 5),
 ('viva', 5),
 ('fotografía', 5)]
================================================================================

Huelva
--------------------------------------------------------------------------------
[('huelva', 32),
 ('arte', 14),
 ('fotografía', 14),
 ('latitudes', 13),
 ('museo', 8),
 ('colección', 7),
 ('artes', 7),
 ('exposición', 7),
 ('festival', 7),
 ('imágenes', 6),
 ('internacional', 6),
 ('luz', 5),
 ('contemporánea', 5),
 ('años', 5),
 ('tiempo', 5),
 ('fotografías', 5),
 ('año', 5),
 ('ciclo', 4),
 ('paisaje', 4),
 ('gráfica', 4)]
================================================================================

Bilbao
--------------------------------------------------------------------------------
[('colección', 13),
 ('bilbao', 13),
 ('arte', 11),
 ('picasso', 10),
 ('museo', 10),
 ('mar', 8),
 ('guggenheim', 6),
 ('selecciones', 5),
 ('ría', 5),
 ('francia', 5),
 ('retrospectiva', 4),
 ('ramón', 4),
 ('antonio', 3),
 ('dubuffet', 3),
 ('josé', 3),
 ('parís', 3),
 ('artes', 3),
 ('siglo', 3),
 ('retrato', 3),
 ('miradas', 3)]
================================================================================

Almería
--------------------------------------------------------------------------------
[('fotografía', 28),
 ('imagina', 24),
 ('andaluz', 23),
 ('centro', 23),
 ('proyecto', 22),
 ('fondos', 22),
 ('colección', 7),
 ('arte', 7),
 ('almería', 5),
 ('vida', 5),
 ('memoria', 5),
 ('retratos', 4),
 ('25', 4),
 ('exposición', 4),
 ('contemporáneo', 3),
 ('aniversario', 3),
 ('obra', 3),
 ('años', 3),
 ('luz', 3),
 ('españa', 2)]
================================================================================

Granada
--------------------------------------------------------------------------------
[('colección', 20),
 ('guerrero', 20),
 ('josé', 18),
 ('centro', 16),
 ('granada', 9),
 ('años', 7),
 ('alhambra', 6),
 ('arte', 6),
 ('luz', 5),
 ('exposición', 5),
 ('fotografía', 5),
 ('fotografías', 4),
 ('siglo', 4),
 ('artistas', 4),
 ('manuel', 4),
 ('agua', 4),
 ('picasso', 3),
 ('garcía', 3),
 ('miradas', 3),
 ('color', 3)]
================================================================================